@model Kutuphane.Models.Entity.Uye
@{
    ViewBag.Title = "UyeEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 style="color:1abc9c;">UyeEkle</h2>
<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px;">
        <label>Üye Adı</label>
        @Html.TextBoxFor(u => u.Adi, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px;">
        <label>Üye Soyadı</label>
        @Html.TextBoxFor(u => u.Soyadi, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px;">
        <label>Üye E-mail</label>
        @Html.TextBoxFor(u => u.EMail, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px;">
        <label>Üye Kullanıcı Adı</label>
        @Html.TextBoxFor(u => u.KullaniciAdi, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px;">
        <label>Üye Şifre</label>
        @Html.TextBoxFor(u => u.Sifre, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px;">
        <label>Üye Telefon</label>
        @Html.TextBoxFor(u => u.Telefon, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px;">
        <label>Üye Fotograf</label>
        @Html.TextBoxFor(u => u.Fotograf, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px;"></div>
    <div>
        <button class="btn btn-primary" id="btnUyeEkle" style="background-color:1abc9c; color:ffffff;border:0;" > Ekle </button>
    </div>
</form>

