@using Kutuphane.Models.Entity
@model List<Emanet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 style="color:1abc9c;">KİTAP HAREKETLERİ</h2>
@using (Html.BeginForm("Index", "Emanet", FormMethod.Get))
{
}
<table class="table table-bordered">
    <tr style="background-color:1abc9c; color:ffffff;">
        <th> Hareket Id</th>
        <th>Kitap Id</th>
        <th>Kitap Adı</th>
        <th>Üye Id</th>
        <th>Üye Adı </th>
        <th>Personel Id </th>
        <th>Personel Adı</th>
        <th> Alış Tarihi</th>
        <th> İade Tarihi</th>
        <th> Teslim Tarihi</th>
        <th> Hareket Sil</th>
       

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.KitapId  </td>
            <td>@item.Kitap.Adi </td>
            <td>@item.UyeId</td>
            <td>@item.Uye.Adi @item.Uye.Soyadi</td>
            <td>@item.PersonelId</td>
            <td>@item.Personel.Adi @item.Personel.Soyadi </td>
            <td>@Convert.ToDateTime(@item.AlisTarihi).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(@item.IadeTarihi).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(@item.TeslimTarihi).ToString("dd/MM/yyyy")</td>
            <td>
                @Html.ActionLink("Sil", "EmanetSil", new { id = item.Id },
                     new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstiyor Musunuz')" })
            </td>
           


        </tr>

    }

</table>
<div>
    <a href="/Emanet/EmanetVer/" class="btn btn-primary" style="background-color:1abc9c; color:ffffff; border:0;" />Yeni Emanet Ekle </a>
</div>

